@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@100&display=swap');
body{
    background-color: #2A3166;  
}

.firstline{
    margin-left: 7%;
    margin-top: 4%;
    /*color: yellow;*/
    color: #CAE7DA;
    
}

.navbar{
    margin-top:-3%;
    
}



nav{
text-align: right;
width: 48%;
margin-left: 49%;




}

nav ul li {
    list-style: none;
    display: inline;
    font-size: 20px;
    flex-direction:right;
     padding-right:8%;
     
    
}
    
    nav ul li a{
    color:white;
    text-decoration: none;
    padding: 15px;
    
    }

    .navbar a:hover {
        background-color:white;
        font-weight: bolder;
        color: #2A3166;
        opacity: 0.9;
        
        padding: 10px;
      }

      


.coding{
    margin-left: 7%;
    margin-top: 9%;
}

.open{
    margin-left: 59%;
    
    border: solid transparent;
    width: 40%;
    margin-top: -20%;
    
}
.open h2{
    color:white;
    font-size: 20px;
    margin-left: 38%;
}
.open p{
    /*color:yellow;*/
    color: #CAE7DA;
    font-size: 30px;
    font-weight: 400px;
    margin-left: 22%;
}
.open h3{
    color: white;
    font-size: 20px;
    margin-left: 20%;
    
}



   
   

    .One{
        background-color: #2A3166;
        
        
        
    }

    .Two{
        background-color: white;
        margin-top: 10%;
        width: 100%;
    }

    .title{
        padding-top: 7%;
    }

    .title h1{
        margin-left: 84%;
        font-size: 40px;
        color: #EE7879;
        margin-top: -3%;
        
    }
 .box{
   display: flex;
   padding-bottom: 8%;
   
 }
 
 .wattpad{
    margin-left: 5%;
 }
 .java{
   margin-left: 5%; 
 }

 .python{
    margin-left: 5%;

 }
 .kotlin{
    margin-left: 5%;

 }
 .html{
    margin-left: 8%;

 }

 .html p{
    color: rgb(42, 42, 141);
 }

 .kotlin p{
    color: rgb(42, 42, 141);
 }

 .python p{
    color: rgb(42, 42, 141);
 }

 .java p{
    color: rgb(42, 42, 141);
 }

 .wattpad p{
    color: rgb(42, 42, 141);
 }

 .three{
    background-color: #2A3166;
    margin-top: 15%;
    width: 100%;
   
}

.abby{
    padding-top: 2%;
}

.abby h1{
    margin-left: 7%;
    font-size: 40px;
    color: #EE7879;
    margin-top: -3%;
    
}

.abbox{
    border: solid white;
    background-color: white;
    width: 85%;
    margin-left: 7%;
}

.abbox p{
    font-size: 30px;
    margin-left: 8%;
}

.four{
    background-color: #2A3166;
    margin-top: 15%;
    width: 100%;
   
}

.title4{
    padding-top: 2%;
}




.Four{
    background-color: rgb(100, 72, 78);
    width: 90%;
    height: 100%;
    margin-left: 5%;
      
}
/* .title5{
    margin-left: 28%;
    margin-top: 2.7%;
    border: solid transparent;
    width: 40%;
    
} */

.title5 h1{
    margin-left: 7%;
    font-size: 40px;
    color: #EE7879;
    margin-top: -10%;
}
.title5 p{
    font-size: 20px;
    color: rgb(0, 225, 255);
    font-weight: bolder;
    margin-left: 7%;
    border: solid transparent;
    width: 800px;
    margin-top: -2%;
    font-size: 30px;
}
.boxes{
    display: flex;
    
    border: solid white;
   
    margin-top: 3%;
    width: 85%;
    margin-left: 7%;
    background-color:rgb(250, 245, 246) ;
    
}

.box1{
    border: solid transparent;
    width: 25%;
    height: 300px;
    background-color: white;
    
}

.box2{
    border: solid transparent;
    width: 25%;
    height: 300px;
    background-color: palevioletred;
}

.box3{
    border: solid transparent;
    width: 25%;
    height: 300px;
    background-color: rgb(220, 238, 252);
   

}

.box4{
    border: solid transparent;
    width: 25%;
    height: 300px;
    background-color: rgb(245, 205, 63);
   

}

.box4 h3{
    font-size: 15px;
}


.box4 h2{
    margin-left: 8%;
    color:azure;
    margin-top:10%;
   
}
.koty{
    margin-left: 7%;  
    margin-top: 10%;
}
.box4 h3{
    font-size: 17px;
    color: azure;
}

.box1 h2{
    margin-left: 8%;
    color:rgb(63, 20, 4);
    margin-top: -30%;
}
.websites{
    margin-left: 7%;  
    margin-top: 10%;
}
.box1 h3{
    font-size: 17px;
}


.box2 h2{
    margin-left: 8%;
    color:white;
    margin-top: -30%;
}
.design{
    margin-left: 7%;  
    margin-top: 10%;
}
.box2 h3{
    font-size: 17px;
    color: white;
}



.box3 h2{
    margin-left: 8%;
    color:rgb(63, 20, 4);
    margin-top: -30%;
}
.pyth{
    margin-left: 7%;  
    margin-top: 10%;
}
.box3 h3{
    font-size: 17px;
    color: rgb(63, 20, 4);
}



.x,.y,.z{
    margin-top: 40%;
}

.footer{
    background-color: beige;
    height: 200px;
    margin-top: 15%;
    width: 100%;
}
 .address{
    display: flex;
    padding-top:5%;
    
 }

 .link{
    margin-left: 18%;
 }

 .Wattpad{
    margin-left: 15%;
 }

 .cv{
    margin-left: 18%;
 }





