@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@100&display=swap');
body{
    background-color: black;  
    overflow-x: hidden;
}


.profile {
    box-shadow: 0 8px 18px 0 rgba(187, 104, 104, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    background-color: rgb(34, 33, 33);
   
    height: 300px;
    margin-top: 9%;
  }

  .avatar{
   border-radius: 50%;
   
  }

  img{
   padding-top: 13%;
  }
  
  .head {
    color:rgb(247, 223, 223);
    font-size: 18px;
  }
  
  /* button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #ff7200;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  } */
  
  .profile h1 {
    text-decoration: none;
    font-size: 22px;
    color: white;
  }
 button a{
  color: white;
  text-decoration: none;
 }
 button a:hover {
    color: rgb(119, 7, 69);
}

 .profile .address{
    margin-bottom:3%;
  }

.navbar{
    background-color:rgb(94, 88, 88);
    width: 30%;
    height: 100%;
    
}


nav{
    text-align: right;
    /* width: 48%; */
    position: static;
    position: fixed;
    /* top: 9.5%; */
    margin-top: -1%;
   
   
    
    
}

nav ul li {
    list-style: none;
    display: block;
    font-size: 20px;
    margin-top: 5%;
    margin-left: 1%;
    border: solid white;
    width: 78%;
    padding: 3%;
    background-color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
    
    
    /* padding:2%; */
   
}
nav ul{
    margin-top: 3%;
}

nav ul li a{
    color:rgb(119, 7, 69);
    text-decoration: none;
    padding: 2px;
    font-weight: 700;
    
    }

    .nav ul li a:hover {
        background-color:rgb(119, 7, 69);
        font-weight: bolder;
        color: black;
        opacity: 0.9;
        
        
      }

.one{
  margin-left: 30%;
  transition: width 2s;
  margin-bottom: 25%;
}

.opening{
  margin-left: 15%;
  padding-top: 13%;
 
}
.opening h2{
  color: rgb(252, 237, 242);
  font-size: 35px;
  
 
}

.opening p{
  color: rgb(231, 200, 200);
  font-size: 60px;
  margin-top: -1%;
 
}

.opening p span{
  color: rgb(155, 16, 62);
}

#description{
  font-size: 20px;
  margin-top: -5%;
}
.two{
  margin-left: 30%;
  transition: width 2s;
  margin-bottom: 25%;
  
}
#resume{
  margin-left: 60%;
  width: 25%;
  padding: 2%;
  font-size: 15px;
  border-radius: 10px;
  background-color:rgb(155, 16, 62) ;
  color: rgb(231, 200, 200);
}
#resume:hover{
  background-color:white;
  border: solid rgb(119, 7, 69);
}

.abby h1{
  font-size: 40px;
  color: rgb(155, 16, 62);
  margin-left: 15%;
}
hr{
  margin-left: 15%;
}

.abby p{
  color: rgb(231, 200, 200);
  font-size: 20px;
  margin-left: 47%;
  margin-top:-45% ;
}

.coder{
  margin-left: 5%;
  margin-top: -8%;
}
.abby #poems{
  color: rgb(231, 200, 200);
  font-size: 20px;
  margin-left: 47%;
  margin-top: 6%;
}

.abby #pieces{
  color: rgb(231, 200, 200);
  font-size: 18px;
  margin-left: 47%;
  margin-top: 5%;
  
}

#pieces a{
  text-decoration: none;
  color: palevioletred;
}

.abby #pieces a:hover{
color: white;
}

.three{
  margin-left: 30%;
  margin-bottom: 18%;
  transition: width 2s;
}

.title h1{
  font-size: 40px;
  color: rgb(155, 16, 62);
  margin-left: 15%;
}

.title hr{
  margin-right: 4%;
}

.youthpad{
  margin-left: 15%;
  margin-top: -7%;
}
.youthpad h2{
  color:rgb(231, 200, 200) ;
  font-size: 18px;
}
.youthpad img:hover{
  background-color: black;
}
.web{
  display: flex;
  margin-top: 9%;
  
}

.abu{
  margin-left: 3%;
  margin-top: -7%;
}

.abu h2{
  color:rgb(231, 200, 200) ;
  font-size: 18px;
}

.petnwork{
  display: flex;
  margin-top:-1%;
}
.wallet{
  margin-left: 3%;
}

.wallet h2{
  color:rgb(231, 200, 200) ;
  font-size: 18px;
}

.petclinic{
  margin-left: 15%;
}

.petclinic h2{
  color:rgb(231, 200, 200) ;
  font-size: 18px;
}

.mobile{
  display: flex;
}


.fivestar{
  margin-left: 3%;
}

.fivestar h2{
  color:rgb(231, 200, 200) ;
  font-size: 18px;
}

.workout{
  margin-left: 15%;
}
.workout h2{
  color:rgb(231, 200, 200) ;
  font-size: 18px;
}

/* Parent Container */.youthpad{
  position: relative;
  float: left;
  
 }
 
 /* Child Text Container */.youthpad div{
  position: absolute;
  bottom: 0;
  right: 0;
  background: black;
  color: white;
  /* margin-top: 15%; */
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear; 
  transition: visibility 0s, opacity 0.5s linear;
 }
 
 /* Hover on Parent Container */.youthpad:hover{
  cursor: pointer;
 }
 
 .youthpad:hover div{
  width: 270px;
  height: 50px;
  padding: 8px 15px;
  visibility: visible;
  opacity: 0.9; 
  margin-bottom: 15%;
  
 }

 /* Parent Container */.abu{
  position: relative;
  float: left;
  
 }
 
 /* Child Text Container */.abu div{
  position: absolute;
  bottom: 0;
  right: 0;
  background: black;
  color: white;
  /* margin-top: 15%; */
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear; 
  transition: visibility 0s, opacity 0.5s linear;
 }
 
 /* Hover on Parent Container */.abu:hover{
  cursor: pointer;
 }
 
 .abu:hover div{
  width: 270px;
  height: 50px;
  padding: 8px 15px;
  visibility: visible;
  opacity: 0.9; 
  margin-bottom: 15%;
 }

 /* Parent Container */.petclinic{
  position: relative;
  float: left;
  
 }

 /* Child Text Container */.petclinic div{
  position: absolute;
  bottom: 0;
  right: 0;
  background: black;
  color: white;
  /* margin-top: 15%; */
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear; 
  transition: visibility 0s, opacity 0.5s linear;
 }
 
 /* Hover on Parent Container */.petclinic:hover{
  cursor: pointer;
 }
 
 .petclinic:hover div{
  width: 270px;
  height: 50px;
  padding: 8px 15px;
  visibility: visible;
  opacity: 0.9; 
  margin-bottom: 15%;
 }

 /* Parent Container */.wallet{
  position: relative;
  float: left;
  
 }

 /* Child Text Container */.wallet div{
  position: absolute;
  bottom: 0;
  right: 0;
  background: black;
  color: white;
  /* margin-top: 15%; */
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear; 
  transition: visibility 0s, opacity 0.5s linear;
 }
 
 /* Hover on Parent Container */.wallet:hover{
  cursor: pointer;
 }
 
 .wallet:hover div{
  width: 270px;
  height: 50px;
  padding: 8px 15px;
  visibility: visible;
  opacity: 0.9; 
  margin-bottom: 15%;
 }

 /* Parent Container */.workout{
  position: relative;
  float: left;
  
 }

 /* Child Text Container */.workout div{
  position: absolute;
  bottom: 0;
  right: 0;
  background: black;
  color: white;
  /* margin-top: 15%; */
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear; 
  transition: visibility 0s, opacity 0.5s linear;
 }
 
 /* Hover on Parent Container */.workout:hover{
  cursor: pointer;
 }
 
 .workout:hover div{
  width: 270px;
  height: 50px;
  padding: 8px 15px;
  visibility: visible;
  opacity: 0.9; 
  margin-bottom: 15%;
 }

 /* Parent Container */.fivestar{
  position: relative;
  float: left;
  
 }

 /* Child Text Container */.fivestar div{
  position: absolute;
  text-align: center;
  bottom: 0;
  right: 0;
  background: black;
  color: white;
  /* margin-top: 15%; */
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear; 
  transition: visibility 0s, opacity 0.5s linear;
 }
 
 /* Hover on Parent Container */.fivestar:hover{
  cursor: pointer;
 }
 
 .fivestar:hover div{
  width: 270px;
  height: 50px;
  padding: 8px 15px;
  visibility: visible;
  opacity: 0.9; 
  margin-bottom: 15%;
 }

 .footer{
  background-color: rgb(22, 21, 21);
  height: 400px;
  transition: width 2s height 2s;
  
 }

 .address{
 
  padding-top:8%;
  margin-left: 57%;
 
 
  
  
}

.linkedin{
  
  font-size: 45px;
  color:rgb(231, 200, 200);
  margin-right: 10%;
 
  
  
}



.github{
  
  font-size: 45px;
  color: rgb(231, 200, 200);
  margin-right: 10%;
  

}




  

.twitter{
  
  font-size: 45px;

  color: rgb(231, 200, 200);
  width: 23px;
  
 
}
.instagram{
  
  font-size: 45px;
  margin-left: 17%;
  /* color: rgb(231, 200, 200); */
  
 
 
}

.title2 h1{
  color: rgb(155, 16, 62) ;
  
  font-size: 50px;
  margin-top: -5%;
  
}

.links{
  margin-top: 10%;
  display: flex;
  margin-right: 62%;
  
}

.title2 hr{
 margin-left: 1%;
}


  





